.calculator {
    background-color: rgb(153, 153, 153);
    width: 440px;
    height: fit-content;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    gap: 2px;
}

button {
    font-size: 30px;
    width: 80px;
    height: 80px;
}

.number, .operator{
    flex: auto;
}

.bar {
    background-color: rgb(200, 200, 200);
    margin-bottom: 10px;
    height: 80px;
    font-size: 80px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
.clear {
    margin-top: 10px;
    width: 100%;
}